<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.WavesOfFood"
        tools:targetApi="31">

        <!-- Splash Screen -->
        <activity
            android:name=".Splash_Screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other Activities -->
        <activity
            android:name=".DetailsActivity"
            android:exported="false" />
        <activity
            android:name=".PayOutActivity"
            android:exported="false" />
        <activity
            android:name=".ChooselocationActivity2"
            android:exported="true" />
        <activity
            android:name=".Startactivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity1"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".signActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity5"
            android:exported="true" />
    </application>
</manifest>
